body {
  background-color: rgb(3, 0, 28);
}

h3 {
  color: rgb(182, 234, 218);
}

h5 {
  padding-bottom: 2%;
  color: rgb(23, 107, 135);
}

img {
  margin-top: 25%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(23, 107, 135);
  border: 6px solid rgb(3, 0, 28);
  background-clip: padding-box;
}
